html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
  }
  
  body > .container {
    padding: 60px 15px 0;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  code {
    font-size: 80%;
  }

  .card-text {
    font-family: 'Consolas', 'Courier New', Courier, monospace
  }

  @media (min-width: 768px) {
    .navbar-nav {
      float: left;
    }
  .navbar-right {
    float: right;
  }
}

  .logged-in p {
    text-align: right;
    color: #fff;
    margin-bottom: 0;
  }

  .logout-btn {
    border: 0;
    background: transparent;
    color: rgba(255,255,255,.5);
    cursor: pointer;
  }

  .logout-btn:hover {
    color: rgba(255,255,255,.75);
  }

  .navbar-nav {
    align-items: center;
  }

  .hidden {
    visibility: hidden;
  }

  .visible {
    visibility: visible;
  }

  .smaller-width {
    max-width: 700px;
    margin: auto auto;
  }

  .white-space {
    white-space: pre;
  }

  .scroll {
    overflow-y: scroll;
    max-height: 100px;
  }