<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
    <h1 class="display-3">
      TodoList
    </h1>
    <p>
      Introducing an entirerly new way to manage your tasks.
    </p>
    
      </div>
      <div class="col-md-6">
        {{#if username.length}}
    <p>
      <a class="btn btn-primary btn-lg" href="/todo/create" role="button">
        Add a to-do
      </a>
    </p>
    {{/if}}
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>
        Create & read
      </h2>
      <p>
        Easily create a to-do item and view all your items in a user-friendly overview.
      </p>
    </div>
    <div class="col-md-6">
      <h2>
        Update & delete
      </h2>
      <p>
        Want to edit something within your item? No worries! You can both edit the description and delete it when needed.
      </p>
    </div>
  </div>
  <hr />
</div>
<!-- /container -->